/* -------------------------Body-------------------------- */
.bmp{
    margin: 0;
    padding: 0;
}
/* -------------------------Body-------------------------- */

/* -------------------------Conteiner-------------------- */
.cont{
    width: 95%;
    margin: 30px auto;
}
.cont-s{
    width: 80%;
    margin: 30px auto;
}
.cont-m{
    width: 90%;
    margin: 30px auto;
}
.cont-x{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cont-xs{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont-xm{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cont-y{
    width: 95%;
    margin: 0 auto;
}
.cont-ys{
    width: 80%;
    margin: 0 auto;
}
.cont-ym{
    width: 90%;
    margin: 0 auto;
}
/* -------------------------Conteiner-------------------- */

/* ---------------------------Flex----------------------- */
.flex, .jc-fs, .jc-fe, .jc-c, .jc-sb, .jc-sa, .jc-se,
.fd-r, .fd-rr, .fd-c, .fd-cr, .fw-nw, .fw-w, .fw-wr,
.ai-s, .ai-c, .ai-fs, .ai-fe, .ai-b, .ac-s,
.ac-fs, .ac-fe, .ac-c, .ac-sb, .ac-sa, .ac-se{
    display: flex;
}
.jc-fs{
    justify-content: flex-start;
}
.jc-fe{
    justify-content: flex-end;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-sa{
    justify-content: space-around;
}
.jc-se{
    justify-content: space-evenly;
}
.fd-r{
    flex-direction: row;
}
.fd-rr{
    flex-direction: row-reverse;
}
.fd-c{
    flex-direction: column;
}
.fd-cr{
    flex-direction: column-reverse;
}
.fw-nw{
    flex-wrap: nowrap;
}
.fw-w{
    flex-wrap: wrap;
}
.fw-wr{
    flex-wrap: wrap-reverse;
}
.ai-s{
    align-items: stretch;
}
.ai-c{
    align-items: center;
}
.ai-fs{
    align-items: flex-start;
}
.ai-fe{
    align-items: flex-end;
}
.ai-b{
    align-items: baseline;
}
.ac-s{
    align-content: stretch;
}
.ac-fs{
    align-content: flex-start;
}
.ac-fe{
    align-content: flex-end;
}
.ac-c{
    align-content: center;
}
.ac-sb{
    align-content: space-between;
}
.ac-sa{
    align-content: space-around;
}
.ac-se{
    align-content: space-evenly;
}
/* ---------------------------Flex----------------------- */

/* -----------------Vert--Horiz--Center------------------ */
.vhc{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
/* -----------------Vert--Horiz--Center------------------ */

/* --------------------------Links----------------------- */
.al{
    color: #000;
    text-decoration: none;
}
/* --------------------------Links----------------------- */
/* -------------------------Button----------------------- */
button{
    transition: 0.3s;
}
.btn{
    padding: 8px 30px;
    background: rgb(252, 172, 0);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.btn:hover{
    background: #fff;
    color: rgb(252, 172, 0);
    border-color: rgb(252, 172, 0);
}
.btn-n{
    padding: 7px 30px;
}
.btn-m{
    padding: 10px 40px;
}
.btn-l{
    padding: 15px 50px;
}
.btn-sky{
    padding: 8px 30px;
    background: linear-gradient(145deg, rgba(167,65,255,1) 0%, rgba(56,57,255,1) 100%);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.btn-sky:hover{
    background: #fff;
    color: rgba(56,57,255,1);
    border-color: rgba(56,57,255,1);
}
.btn-fier{
    padding: 8px 30px;
    background: linear-gradient(145deg, rgba(255,47,47,1) 0%, rgba(255,183,56,1) 100%);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.btn-fier:hover{
    background: #fff;
    color: rgba(255,47,47,1);
    border-color: rgba(255,183,56,1);
}
.btn-forest{
    padding: 8px 30px;
    background: linear-gradient(145deg, rgba(0,255,98,1) 0%, rgba(0,139,25,1) 100%);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.btn-forest:hover{
    background: #fff;
    color: rgba(0,139,25,1);
    border-color: rgba(0,139,25,1);
}
.btn-sea{
    padding: 8px 30px;
    background: radial-gradient(circle, rgba(34,194,195,1) 12%, rgba(20,0,125,1) 93%, rgba(14,0,87,1) 100%);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.btn-sea:hover{
    background: #fff;
    color: rgba(20,0,125,1);
    border-color: rgba(20,0,125,1);
}