$transparent: transparent
$secondColor: #4e00ca

body
    margin: 0
    padding: 0

::-webkit-scrollbar
    width: 10px
    background: rgba(0, 0, 0, 0.3)
    border-radius: 6px

::-webkit-scrollbar-thumb
    background: linear-gradient(#8438ff, #7a41ff, #8438ff)
    border-radius: 6px
    height: 100px

::-webkit-scrollbar-thumb:hover
    background: linear-gradient(#7a41ff, #8438ff)
.backvideo
    width: 100%
    height: 100vh
    overflow: hidden
    position: absolute
    z-index: -5
    video
        width: 120%
.body
    width: 100%
    height: 100vh
    overflow: hidden
.header
    margin-top: 10px
    margin-left: 30px
    button
        margin-right: -4px
        background: #fff
        border: none
        transform: skewX(-30deg)
        cursor: pointer
        height: 50px
        p
            transform: skewX(30deg)
            font-size: 20px
            margin-top: 10px
            padding: 0 15px
            i
                font-size: 20px
        &:hover
            background: $secondColor
            p,i
                color: #fff 
.editor
    display: flex
    justify-content: space-around
    .codes
        width: 47%
        margin-top: 10px
        .html-code, .css-code, .js-code
            width: 100%
            height: 29vh
            margin-top: 10px
            background: rgba(27, 27, 44, 0.62)
            overflow: hidden
        .html-code
            margin-top: 0
        p
            font-family: Arial
            font-weight: 600
            background: #fff
            width: 100px
            padding: 3px 10px
            border-radius: 0 0 250px 0
            margin-top: 0   
    .preview
        width: 50%
        height: 89vh
        margin-top: 10px
        .preview-window
            width: 100%
            height: 89vh
            border: none
            background: #fff
.rot-active
    flex-direction: column
    .codes
        display: flex
        justify-content: space-around
        align-items: center
        width: 100%
        margin-top: 10px
        .html-code, .css-code, .js-code
            width: 32%
            height: 30vh
            background: rgba(27, 27, 44, 0.62)
            overflow: hidden
        .html-code
            margin-top: 10px 
    .preview
        width: 99%
        height: 58vh
        margin: 10px auto
        .preview-window
            width: 100%
            height: 58vh
            border: none
            background: #fff